/* line 1, sass/common.sass */
.margin-top-small {
  margin-top: 10px;
}

/* line 4, sass/common.sass */
.margin-top-medium {
  margin-top: 30px;
}

/* line 7, sass/common.sass */
.margin-top-large {
  margin-top: 60px;
}

/* line 10, sass/common.sass */
.margin-left-small {
  margin-left: 10px;
}

/* line 13, sass/common.sass */
.margin-left-medium {
  margin-left: 30px;
}

/* line 16, sass/common.sass */
.width-60 {
  width: 60% !important;
}

/* line 19, sass/common.sass */
.width-70 {
  width: 60% !important;
}

/* line 22, sass/common.sass */
.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
