<p>Create Food</p>

<div ng-controller="AdminsFoodCtrl">

  <form name="myForm" ng-submit="uploadFile()" class="my-form">
    name: <input name="name" ng-model="food.name" required>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    description: <input name="description" ng-model="food.description" required>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    food image: <input type="file" file-model="myFile"/>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    <input type="submit" value="submit">
  </form>

 </div>
