<p>Create Food</p>

<div ng-controller="AdminsFoodCtrl">

  <form id="myForm" name="myForm" ng-submit="addRow()" class="my-form">
    <input name="id" type="hidden" ng-model="food.id">
    name: <input name="name" ng-model="food.name" required>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    description: <input name="description" ng-model="food.description" required>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    food image: <input id="myForm_file" type="file" file-model="myFile"/>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    <input id="myForm_submit" type="submit" value="submit">
  </form>


  <table class="table">
    <tr>
      <th>Name
      </th>
      <th>Description
      </th>
      <th>image
      </th>
      <th>
      </th>
    </tr>
    <tr ng-repeat="food in foods">
      <td>{{food.name}}
      </td>
      <td>{{food.description}}
      </td>
      <td><img src="{{food.image}}" alt="Smiley face" height="42" width="42">
      </td>
      <td><input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(food.id)"/>
        <input type="button" value="Edit" class="btn btn-primary" ng-click="editRow(food.id, food.name, food.description)"/>
      </td>
    </tr>
  </table>

</div>
