<p>Create Food</p>

<div ng-controller="AdminsFoodCtrl">



  <form id="myForm" name="myForm" ng-submit="addRow()" class="my-form">
    <input name="id" type="hidden" ng-model="food.id">
    name: <input type="text" name="name" ng-model="food.name" ng-maxlength="17" required>
    <div ng-messages="myForm.name.$error" ng-if="myForm.name.$dirty" style="color:maroon" role="alert">
      <div ng-message="required">You did not enter a field</div>
      <div ng-message="maxlength">Your field is too long</div>
    </div>


    description: <input type="textarea" name="description" ng-model="food.description" required>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    price: <input type="text" name="price" ng-model="food.price" required>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    food image: <input id="myForm_file" type="file" file-model="myFile"/>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    <input id="myForm_submit" type="submit" value="submit">
  </form>


  <table class="table">
    <tr>
      <th>Name
      </th>
      <th>Description
      </th>
      <th>Price
      </th>
      <th>image
      </th>
      <th>
      </th>
    </tr>
    <tr ng-repeat="food in foods">
      <td>{{food.name}}
      </td>
      <td>{{food.description}}
      </td>
      <td>{{food.price}}
      </td>
      <td><img src="{{food.image}}" alt="Smiley face" height="42" width="42">
      </td>
      <td><input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(food.id)"/>
        <input type="button" value="Edit" class="btn btn-primary" ng-click="editRow(food.id, food.name, food.description, food.price)"/>
      </td>
    </tr>
  </table>

</div>
