<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 columns">
        <div class="image-frame centre">
          <img src="{{food.image}}", height="166", width="500">
        </div>
      </div>

      <div class="large-8 columns margin-top-medium">

        <div class="width-60 centre">
          <div class="food-detail-labels">
            <div class="row food-name-text">
              {{ food.name }}
            </div>
            <div class="row food-description-text">
              {{ food.description }}
            </div>
            <div class="row food-price-text">
              Rp {{ food.price }}k
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div ng-include="'views/partials/backButton.html'"></div>

</div>
