<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 small-12 columns">
        <img src="images/fancy-bite-logo.jpg">
        <div class="hide-for-small panel">
          <!--<h3>Header</h3>-->
          <h5 class="subheader">A passionate home baking with a twist of art and a zest of love, specialising in pies, tarts, brownies and cakes.  All freshly baked with the finest ingredients and our secret family heritage recipes to give you the ultimate one-of-a-kind delicacy experience! :)</h5>
        </div><a href="#">
        <div class="panel callout radius">
          <h6></h6>
        </div></a>
      </div>

      <div class="large-8 columns">
        <div class="row">
          <div class="large-4 small-6 columns" ng-repeat="food in foods">
            <img src="{{food.image}}", height="166", width="500" ng-click="showDetail(food.id)">
            <div class="panel">
              <h5>{{food.name}}</h5>
              <h6 class="subheader">Rp {{food.price}}k</h6>
            </div>
          </div>
        </div>

        <!--<div class="row">-->
          <!--<div class="large-12 columns">-->
            <!--<div class="panel">-->
              <!--<div class="row">-->
                <!--<div class="large-2 small-6 columns"><img src="http://placehold.it/300x300&amp;text=Site%20Owner"></div>-->
                <!--<div class="large-10 small-6 columns">-->
                  <!--<strong>This Site Is Managed By</strong>-->
                  <!--<hr>-->
                  <!--Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum-->
                  <!--odio ornare sagittis-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
