<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 small-12 columns">
        <img src="images/fancy-bite-logo.png">
        <div class="hide-for-small panel">
          <!--<h3>Header</h3>-->
          <h5 class="subheader">Delicately Homemade Pies and Brownies with Finest and Fresh Ingredients, and also with Lots Lots Lots of LOVE! :)</h5>
        </div><a href="#">
        <div class="panel callout radius">
          <h6></h6>
        </div></a>
      </div>

      <div class="large-8 columns">
        <div class="row">
          <div class="large-4 small-6 columns" ng-repeat="food in foods">
            <img src="{{food.image}}", height="500px", width="500px" >
            <div class="panel">
              <h5>{{food.name}}</h5>
              <h6 class="subheader">$000.00</h6>
            </div>
          </div>
        </div>

        <!--<div class="row">-->
          <!--<div class="large-12 columns">-->
            <!--<div class="panel">-->
              <!--<div class="row">-->
                <!--<div class="large-2 small-6 columns"><img src="http://placehold.it/300x300&amp;text=Site%20Owner"></div>-->
                <!--<div class="large-10 small-6 columns">-->
                  <!--<strong>This Site Is Managed By</strong>-->
                  <!--<hr>-->
                  <!--Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum-->
                  <!--odio ornare sagittis-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
